* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    padding: 15px 0 15px 15px;
    font-size: 28px;
}

.converter-box {
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    overflow: hidden;
    border: 3px solid black;
}

.tabs-header {
    display: flex;
}

.tab-btn {
    flex: 1;
    padding: 6px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid transparent;
}

.tab-btn.active {
    background-color: white;
    color: #4285f4;
    border-bottom: 3px solid #4285f4;
}

.tabs-content {
    padding: 24px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 12px;
}

.full-width-control {
    width: 100%;
    padding: 8px 14px;
    border: 3px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    color: black;
    background-color: white;
}


.action-btn {
    width: 40%;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: 3px solid black;
    margin-top: 12px;
}

.result-screen {
    font-size: 14px;
    font-weight: bold;
}

.result-screen h2 {
    margin-top: 6px;
    font-size: 28px;
    margin-bottom: 6px;
}